{%- set arguments = context.arguments %}
{%- for stage in multistage.stages %}
  struct {{ stage.argmap_name }} {
      {%- for mapper in stage.argmap %}
        {%- set temporary = (mapper.arg.type == 'temporary')|bool_to_str %}
        template <gt::intent Intent, typename Extent, size_t Number>
        GT_FUNCTION constexpr helpers::arg_identifier<{{ mapper.arg.id }}, {{ temporary }}>
        operator()(gt::accessor<{{ mapper.accessor }}, Intent, Extent, Number>) const;
      {%- endfor %}
  };
{%- endfor %}
