namespace gen {
    template <int IMinus = 0,
        int IPlus = 0,
        int JMinus = 0,
        int JPlus = 0,
        int KMinus = 0,
        int KPlus = 0,
        int...>
    struct extent {
        using type = extent;

        using iminus = gridtools::integral_constant<int, IMinus>;
        using iplus = gridtools::integral_constant<int, IPlus>;
        using jminus = gridtools::integral_constant<int, JMinus>;
        using jplus = gridtools::integral_constant<int, JPlus>;
        using kminus = gridtools::integral_constant<int, KMinus>;
        using kplus = gridtools::integral_constant<int, KPlus>;
    };
} // namespace gen
