{%- for multistage in context.multistages %}
  {%- set mss_id = loop.index %}
  {%- for stage in multistage.stages %}
    struct arg_map_{{ mss_id }}_stage_{{ loop.index }}_{{ stage.name }} {
        {%- for arg in stage.arguments %}
          GT_FUNCTION constexpr std::integral_constant<unsigned, {{ arguments[arg.name].id }}> operator()({{ stage.name }}::{{ arg.stage_arg }}) const;
        {%- endfor %}
    };
  {%- endfor %}
{%- endfor %}
