// vi:syntax=cpp
// this code was generated

{% include 'chunks/includes.cpp.j2' %}
namespace gen_{{ context.name }}_{{ context.hash }} {
    namespace gt = gridtools;
    namespace helpers = gt::gt_gen_helpers;

    {% filter indent(width=4) %}
    {%- include 'chunks/computation_info.cpp.j2' %}
    {%- include 'chunks/storage_infos.cpp.j2' %}
    {%- include 'chunks/arg_map.cpp.j2' %}
    {%- include 'chunks/mss_ptrs.cpp.j2' %}
    {%- include 'chunks/eval.cpp.j2' %}
    {%- include 'chunks/launch_kernel.cpp.j2' %}
    {%- include 'chunks/run_multistage.cpp.j2' %}
    {%- include 'chunks/computation.cpp.j2' %}
    {%- endfilter %}

} // namespace gen_{{ context.name }}_{{ context.hash }}

{% include 'chunks/adaptor.cpp.j2' %}
